*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
header{
    width: 70vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 8s infinite;
}
header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vw;
    animation: balanço 5s linear infinite alternate;
}
@keyframes pulse{
    0%{
        background-color: sandybrown;
    }
    70%{
        background-color: skyblue;
    }
    100%{
        background-color: yellowgreen;
    }
}
@keyframes balanço {
    100% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(150px, 0);
    }
    
    80% {
      transform: translate(-150px, 0);
    }
  }
  